.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-container {
  z-index: 1001;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 560px;
  height: 90%;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  backdrop-filter: blur(20px);
}

/* Tablet and Smaller Desktop */
@media (max-width: 764px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .main-container {
    flex-direction: column-reverse;
    padding-bottom: 24px;
  }

  .card-container {
    position: unset;
    display: flex;
    flex-direction: column;
    justify-items: center;
    z-index: 1001;
    width: 80%;
    height: 100%;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    backdrop-filter: none;
    padding-bottom: 24px;
    margin: auto;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
