.top-drawer {
  width: 100vw;
  height: fit-content;
  position: absolute;
  top: -7.2rem;
  left: 0;
  right: 0;

  background-color: #fff;
  z-index: 1100;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
