.mapContainer {
  height: calc(100vh - 4.08rem);
  width: 100%;
  position: relative;
}

.popup {
  max-width: 400px;
  width: 325px;
}

.popupContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popupImage {
  width: 250px;
  height: 166px;
  object-fit: cover;
}

.googleMapsIcon {
  display: inline-block;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.popupText a:hover {
  text-decoration: underline;
}

@media (max-width: 764px) {
  .mapContainer {
    height: 500px;
    width: 90%;
    margin: auto;
  }

  .popup {
    width: 250px;
    max-width: 300px;
  }

  .popupImage {
    display: none;
  }
}
